.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.color {
    border: 1px solid;
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
      }   

.red {
        background: #C00;
}
.yellow {
    background: #FF3;
  }

.green {
    background: #337F00;
  }

.blue {
    background: #06C;
  }

.purple {
    background: #63C;
  }
.gray {
        background: #989898;
}

