{% extends "template.html" %}
{% block qartatron %}
	<h1>Twitter</h1>
	<p> Twitter Analytics for Algerian Smile Revolution.</p>
{% endblock %}

{% block body%}


<script src="{{ url_for('static', filename='data/hashtags.js') }}"></script>
<script src="{{ url_for('static', filename='data/users.js') }}"></script>
<script src="{{ url_for('static', filename='data/mentions.js') }}"></script>
<script src="{{ url_for('static', filename='data/hashtags_ar.js') }}"></script>
<script src="{{ url_for('static', filename='data/users_ar.js') }}"></script>
<script src="{{ url_for('static', filename='data/mentions_ar.js') }}"></script>
<script src="{{ url_for('static', filename='data/hashtags_fr.js') }}"></script>
<script src="{{ url_for('static', filename='data/users_fr.js') }}"></script>
<script src="{{ url_for('static', filename='data/mentions_fr.js') }}"></script>
<script src="{{ url_for('static', filename='data/ts_daily.js') }}"></script>
<script src="{{ url_for('static', filename='data/ts_hourly.js') }}"></script>
<script src="{{ url_for('static', filename='data/gender.js') }}"></script>
<script src="{{ url_for('static', filename='data/languages.js') }}"></script>

<div class="ocntainer-fluid">
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Period<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="time_period" style="height:100px">
					 <h2>29 April 2019 - 07 May 2019</h2>	
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Number of Tweets<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="stat_tweets" style="height:100px">
					 <h2>125,595</h2>	
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Number of Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="stat_users" style="height:100px">
					 <h2>58,040</h2>
				   	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Arabic: Most Popular Hashtags<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_hashtags_ar" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Arabic: Most Prolific Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_users_ar" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Arabic: Most Mentioned Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_mentions_ar" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>French: Most Popular Hashtags<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_hashtags_fr" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>French: Most Prolific Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_users_fr" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>French: Most Mentioned Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_mentions_fr" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Most Popular Hashtags<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_hashtags" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Most Prolific Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_users" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Most Mentioned Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_mentions" style="height:200px">
				   	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Gender<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<canvas id="gender_dist" style="height:300px">
				   	</canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Languages<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<canvas id="language_dist" style="height:300px">
				   	</canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Daily Volumes<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<canvas id="daily_volumes" style="height:300px">
				   	</canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Hourly Volumes<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<canvas id="hourly_volumes" style="height:300px">
				   	</canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

      $(document).ready(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
	$("#top_hashtags").jQCloud(hashtags, {shape:'elliptical'});
	$("#top_users").jQCloud(users, {shape:'elliptical'});
	$("#top_mentions").jQCloud(mentions, {shape:'elliptical'});
	$("#top_hashtags_ar").jQCloud(hashtags_ar, {shape:'elliptical'});
	$("#top_users_ar").jQCloud(users_ar, {shape:'elliptical'});
	$("#top_mentions_ar").jQCloud(mentions_ar, {shape:'elliptical'});
	$("#top_hashtags_fr").jQCloud(hashtags_fr, {shape:'elliptical'});
	$("#top_users_fr").jQCloud(users_fr, {shape:'elliptical'});
	$("#top_mentions_fr").jQCloud(mentions_fr, {shape:'elliptical'});
	var ctx = $('#daily_volumes');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: line_daily
	});
	var ctx_hourly = $('#hourly_volumes');
	var myChart = new Chart(ctx_hourly, {
		type: 'line',
		data: line_hourly
	});
	
	var ctx_gender = $('#gender_dist');
	var myChart = new Chart(ctx_gender, {
		type: 'doughnut',
		data: gender_dist
	});
	var ctx_lang = $('#language_dist');
	var myChart = new Chart(ctx_lang, {
		type: 'doughnut',
		data: lang_dist
	});
      });

</script>

{% endblock%}


