{% extends "template.html" %}
{% block qartatron %}
	<h1>Twitter</h1>
	<p> Twitter Analytics for Algerian Smile Revolution.</p>
{% endblock %}

{% block body%}


<script src="{{ url_for('static', filename='data/hashtags.js') }}"></script>
<script src="{{ url_for('static', filename='data/users.js') }}"></script>
<script src="{{ url_for('static', filename='data/ts_daily.js') }}"></script>
<script src="{{ url_for('static', filename='data/ts_hourly.js') }}"></script>

<div class="ocntainer-fluid">
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Daily Volumes<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<canvas id="daily_volumes" style="height:300px">
				   	</canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Hourly Volumes<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<canvas id="hourly_volumes" style="height:300px">
				   	</canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Most Popular Hashtags<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_hashtags" style="height:300px">
				   	</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Most Prolific Users<a class="fa fa-users fa-lg pull-right" data-toggle="tooltip" title="" id="varTooltip" data-placement="bottom" style="color: #FFF;"></a></h4>
				</div>
				<div class="panel-body" class="panel-fit">
					<div id="top_users" style="height:300px">
				   	</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

      $(document).ready(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
	$("#top_hashtags").jQCloud(hashtags, {shape:'elliptical'});
	$("#top_users").jQCloud(users, {shape:'elliptical'});
	var ctx = $('#daily_volumes');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: line_daily
	});
	var ctx_hourly = $('#hourly_volumes');
	var myChart = new Chart(ctx_hourly, {
		type: 'line',
		data: line_hourly
	});
      });

</script>

{% endblock%}


